:root {
  --deep-abyss: #05010d;
  --cyber-cyan: #05d9e8;
  --neon-rose: #ff2a6d;
  --digital-violet: #b967ff;
  --warning-gold: #fdee06;
}
.exemplo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.card-cor-nome {
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.card-cor-hex {
    background-color: #3498db;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.card-cor-rgb {
    background-color: rgb(46, 204, 113);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card-cor-rgba {
    background-color: rgba(155, 89, 182, 0.7);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card-cor-hsl {
    background-color: hsl(48, 89%, 60%);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.paleta-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.cor-primaria {
    background-color: var(--cyber-cyan);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.cor-secundaria {
    background-color: var(--neon-rose);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.cor-terciaria {
    background-color: var(--digital-violet);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.cor-acento {
    background-color: var(--warning-gold);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.cor-neutra {
    background-color: var(--deep-abyss);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}